.SummaryTable
{
  max-width: 300pt;
  min-width: 100pt;
  font-size: 12pt;
}

.table
{
  font-size: 10pt;
}

.card{
  max-width: 500px;
}

.btn
{
  z-index: 100;
  /* position: absolute;
  right: 0px; */
  max-height: 26px;
  padding: 3px;
  margin-top: 2px;
  margin-bottom: 2px;

}